body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width:1206px;
    margin: 0 auto;
    padding: 0;
}

.nav__items{
    display: flex;
}
.nav__inner{
    display: flex;
    justify-content: space-between;
}
.nav__item-text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
margin: auto;
text-transform: uppercase;
/* identical to box height */
text-decoration: none;
  

display:inline;

align-items: center;
letter-spacing: 0.1em;

color: #000000;
}
.nav__logo{
  
    margin-left:10px ;
  
}

.nav__item-text{

    padding-bottom: 2px;
    border-bottom: 2px solid transparent ;
 
}
.nav__item-text:hover{
    transition: all 1000ms;
    border-bottom: 2px solid #F59F60     ;
    cursor: pointer;
    
}

.nav__item{
    display: flex;
    margin-right: 20px;
    
}
.interview{
    padding-top: 100px;
}
.nav__item:last-child{
    margin-right: 0;
}
.main__inner{
    background: no-repeat url('../img/gr_bg.png');
    object-fit:scale-down;
    background-position: center top;
    background-size: cover;
min-height: 898px;
max-width: 1920px;
margin: 0 auto;
  
}



.main__target-title{
    margin: 0;
    font-family: 'Montserrat';
font-style: normal;
max-width: 811px;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-transform: uppercase;
padding-top: 50px;
margin-bottom: 20px;
color: #000000;
}
.main__items{
    position: relative;
    padding-top: 154px;
 
    
}
.main__target-text{
    max-width: 1074px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
padding-top: 24px;
text-transform: uppercase;
margin: 0;
color: #000000;
padding-bottom: 50px;
}
.main__target{
    margin: 0 auto;
    width: 1286px;;
    background: rgba(255, 255, 255, 0.9);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    left: 0px;
padding-left: 27px;
margin-bottom: 30px;
        
}
.main__call{
    min-height: 77px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 315px;
    background-color: #fff;
    padding: 4px 39px;
    text-decoration: none;
    color: #000000;
}
.main__call:hover{
    cursor: pointer;
}
.main__call-content{

    background-color: #9ACAEC;
  text-align: center;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-transform: uppercase;


color: #000000;
}
.main__cong{
    max-width: 999px;
    min-height: 77px;
    background-color: #fff;
 
   margin: 0 auto;
 
margin-top: 187px;
 
}
.main__cong-text{
    margin: 0;
    padding: 17px 0;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 36px;
margin: 0;
line-height: 42px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #9ACAEC;
text-align: center;
}

.about .system{
    background-color: #E5E5E5;
}
.about__content{
    width: 576px;
    min-height: 537px;
    margin-left: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;

color: #000000;
padding: 50px 0;
margin: 0;
}
.about__text{

  
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
padding: 0;
margin: 0;
float: left;
margin-top: 0;
margin-bottom: auto;
color: #000000;


}
.about__text:nth-child(2){
    margin-bottom: 0;
}
.system__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
margin: 0;
line-height: 44px;
/* identical to box height */


color: #000000;
}
.about__link{
    display: inline-block;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
max-width: 400px;
text-align: center;
font-size: 14px;
padding: 12px 0px;
line-height: 17px;
transition: all 1000ms;
text-transform: uppercase;
text-decoration: none;
color: #000000;
background-color: #F59F60;
margin-bottom: 50px;
  
}
.about__inner{
    background: no-repeat url('../img/bg.png');
    height: 537px;
    width: 1206px;
   
}

.system__content{
    max-width: 824px;
    margin-right: 50px;
    margin-left: 27px;
    margin-bottom: 50px;
    
}
.system__text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;

color: #000000;
}

.main{
    padding-top: 0;
}
.about,.system,.maps {
    background-color: #F1F1F1;

}
.maps{
    padding-top: 100px;
    background-color: #F1F1F1;
}
.system__inner{
    display: flex;
    border-left: 3px solid #F59F60;
    border-bottom: 3px dashed  #F59F60; 
}

.system__img{
    position: relative;
    object-fit: contain;
}
.target__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */
color: #000000;
}
.target__info-text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #000000;
}
.target__num{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
    
    /* #F59F60 */
    
    color: #F59F60;
}
.target__item{
    display: flex;
}
.target__info-text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;

color: #000000;
}
.target__info-text{
    max-width: 315px;
}

.visit__inner{
    background: no-repeat url('../img/visit.png');
    height: 369px;
    width: 1206px;
}
.visit{
    background-color: #F1F1F1;
    padding: 100px 0;
}
.visit__text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;

color: #000000;

}
.visit__content{
    width: 576px;
    min-height: 369px;
    margin-left: 31px;
    justify-content: start;
}
.visit__link{
    margin-top: auto;
    margin-bottom: 50px;
}
.interview__inner{
    background: no-repeat url('../img/interview.png');
    height: 369px;
    width: 1206px;
    border-bottom: 1px solid #F59F60;
}
.interview{
    margin-bottom: 100px;
  
}
.interview__link{
    margin-top: 50px;
}
.interview__content{
    min-height: 360px;
    justify-content: start;
}
.gallery__items{
    display: flex;
    flex-wrap:wrap ;
    padding-bottom: 100px;
    justify-content: center;
}
.visit__text{
    margin-top: 0;
}
.gallery__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
margin: 0;
padding-top: 100px;
margin-bottom: 50px;
/* identical to box height */


color: #000000;
}
.gallery{
    background-color: #F1F1F1;
}
footer{
    background-color: #fff;
}

.footer__top{
    margin: 0 auto;
    text-align: center;
}

.foot__items{
    display: flex;
    justify-content: center;
}
.foot__inner{
    display: flex;
    justify-content: center;
}
.foot__item{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;
text-transform: none;
color: #000000
}
.foot__items{
    display: flex;
    align-items: center;
}
.foot__item-text{

text-transform: none;
color: #000000
}
.foot__tels{
    margin-bottom: 0px;
}
.foot__tel{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-decoration: none;

color: #000000;
margin-right: 20px;
}
.foot__mail{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-decoration: none;
    text-decoration: none;
    text-transform: none;
    border-bottom: 2px solid transparent;
    color: #000000;
    margin-top: 20px;
}
.foot__logo{
    background-color: #fff;
    padding: 50px 0 36px 0;
}
.foot__info{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #000000;
}
.foot__info span{
    margin-right: 20px;
}
.foot__separate{
    display: block;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size:16    px;
line-height: 20px;
/* identical to box height */
position: relative;


z-index: 99;
color: #000000;
text-align: center;
}

.foot__socs{
    text-align: center;
}
.foot__name{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
text-align: center;
color: #000000;
padding-bottom: 30px;
}
.foot__lines{
    display: flex;
    justify-content: center;
}
.foot__line{
    width: 50%;
    height: 2px;
    background:linear-gradient(45deg, rgba(175, 211, 237, 1), rgba(175, 211, 237, 0));
}
.foot__lines{
    display: flex;
    align-items: center;
}

.foot__tel{
    border-bottom: 2px solid transparent;
}
.foot__mail:hover{
    border-bottom: 2px solid #F59F60;
    transition: all 1000ms;
    cursor: pointer;
}
.foot__tel:hover{
    border-bottom: 2px solid #F59F60;
    transition: all 1000ms;
    cursor: pointer;
}
.feedback__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
text-align: center;
max-width: 622px;
color: #000000;
margin: 0 auto;
padding-top: 50px;
}
.feedback__subtitle{
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
max-width: 315px;
color: #000000;
margin: 0 auto; 

}
.feedback{
    background: no-repeat url('../img/feedback.png');
    margin: 0 auto;
    min-height: 480px   ;

padding: 0;
    background-position: center top;
    background-size: cover;
 
}
.feedback__form{
    display: flex;
    flex-direction: column;    
}
.feedback__input{
    
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 20px;
   width: 794px;
    min-height: 40px;
    padding-left: 15px;
    background-color: #9ACAEC;
}
.feedback__btn{
    width: 187px;
height: 48px;
    border: none;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
text-align: center;
padding: 0;


margin-top: 30px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.01em;
text-transform: uppercase;
justify-content: center;
background: rgba(245, 159, 96, 0.8);

color: #000000;
}
.feedback__input::placeholder{
  
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #000000;
}
.feedback__form{
    align-items: center;
}
.benefits__item-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
margin: 0;
color: #000000;
}
.benefits{
    background-color: #E5E5E5;
    padding-bottom: 53px;   
}
.benefits__items{
    display: flex ;
    flex-wrap: wrap;

}
.benefit__item{
   width: 279px;
   justify-content: space-around;
    min-height: 171px;
    margin: 0 auto;
    text-align: center;
    margin-top: 38px;
}
.benefits__item-title{
    margin-top: 20px;
}
.benefits__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
margin: 0;
padding: 50px 0;
}
.about{
    padding-top: 100px;
}
.system{
    padding-top: 100px;
    padding-bottom: 100px;
}
.quest__item{
    width: 100%;
    min-height: 50px;
}
.quest__text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #000000;
}
.quest__item{
    display: flex;
    justify-content: space-between;
    background-color: #9ACAEC;
}
.quest__inner:nth-child(2n) .quest__item{
    
        background-color: #F59F60;
    
}

.quest__btn{
    border: none;
    background-color: transparent;
}
.quest__item{
    margin-bottom: 10px;
}

.quest__item:last-child{
    margin-bottom: 0px;
}
.quest__items{
    margin-bottom: 100px;
}
.quest__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #000000;
margin-top: 0;
}
.quest__text{
    margin-left: 45px;
}
.quest__img{
    margin-right: 31px;
}


.target__item{
    margin-bottom: 46px;
   
}
.target__item:last-child{
    margin: 0 auto;
}
.target__title{
    margin-top: 50px;
    margin-bottom: 108px;
}
.target__items{
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.target__item{
    display: flex;
    align-items: center;
}
.target__item:nth-child(1) .target__info {
    margin: 0;
    display: flex;
    align-items: center;    
    width: 340px;
  
    min-height: 143px;
    margin-left: 0px;
    margin-left: 44px;
}
.target__item:nth-child(2) .target__info {
    width: 389px;
    min-height: 134px;
    display: flex;
    align-items: center;
    margin-left: 17px;
}
.target__item:nth-child(3) .target__info  {
    width: 595px;
    min-height: 111px;
    margin-left: 23px;
}
.target__info{
    margin: 0 auto;
}
.target__item:nth-child(1) .target__info  p {
    margin-left: 14px;
}
.target__item:nth-child(2) .target__info p{
 margin-left: 37px;
}
.target__item:nth-child(3) .target__info p  {
  margin-left: 82px;
}

.subject__items{
    display: flex;
    justify-content: space-between;
}
.subject__tr .subject__th:nth-child(2){
    width: 89px;
    padding-left: 10px;
 }
 .subject__tr{
    width: 478px;
    height: 39px;  
    background-color: #9ACAEC;
}
 .subject__tr:nth-child(2n){
background-color: #F59F60;
padding-left: 10px;
}
 .subject__th{
   text-align: start;
   font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 21px;
color: #000000;
   padding-left: 10px;
}
.subject__tr:nth-child(1) .subject__th { 
    margin:  0 auto;
    text-align: center;
    padding: 0;
 }

.subject__th{
    padding-left: 10px;
}

.subject__table{
   
    
    margin: 0;
}

.subject__items:nth-child(2)  .subject__tr:nth-child(2n){
    background-color: #9ACAEC;
}
.subject__items:nth-child(2)  .subject__tr{

    background-color:  #F59F60;

}

.subject__tr:nth-child(1){
    background-color: #C4C4C4;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 21px;
/* identical to box height */
height: 100px;



color: #000000;
}
.subject__tr:nth-child(1){
    background-color: #C4C4C4;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 21px;
/* identical to box height */
height: 100px;



color: #000000;
}
.subject__items:nth-child(2) .subject__tr:nth-child(1){
    background-color: #C4C4C4;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 21px;
/* identical to box height */
height: 100px;



color: #000000;
margin: 0 auto;

     }
.subject__tr .subject__th:nth-child(1){
   
   width: 478px;
    margin-right: 20px;
}
.subject__tr:nth-child(1) { 
   text-align: center;
   margin: 0 auto;
}
.subject__titel{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #000000;
}
.subject__item-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;

color: #000000;
width: 278px;
}
.time__tr:nth-child(1){
    background-color: #C4C4C4;
    width: 168px;
    height: 61px;
}
.time__tr:nth-child(2){
    background-color: #9ACAEC;
    width: 168px;
    height: 182px;
}
.time__tr:nth-child(3) {
    background-color: #fff;
    width: 168px;
    height: 100px;
    border: 3px solid #F59F60;
}
.time__tr:nth-child(4){
    width: 168px;
    height: 245px;
    background-color: #F59F60;
}
.time__tr:nth-child(3) .time__th{
    border: 3px solid #F59F60;
}
.time__li{
    text-align: start;
    width: 170px;
    
}
.time__li{
    width: 148px;
}
.time__table{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
border-spacing:5px ;

color: #000000;

}

.time__items{
    display: flex   ;
}
.time__title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
}
.time__th{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000
}
.time__tr{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #000000
}
.feedback__input:focus{
    box-shadow: 0 0 15px #7a956b;
    outline: none
}
.feedback__input._error{
    box-shadow: 0 0 15px #7a956b;
}
.subject__table{


    border-spacing:10px ;
    position: relative;
}
.subject__table td:nth-child(2) {
    position: relative;
    left: 2em;
  }
  .subject__table td:nth-child(3) {
    position: relative;
    top: 2em;
  }
  .quest__hide{
    display: none;
  }
  .quest__hide-active{
    display: block;
    transition: all 3500ms;
    
  }
  .quest__img{
    margin: 0 auto;
  }
  .quest__btn{
    margin-right: 30px;
    cursor: pointer;
  }
  .quest__hide-text{

        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
      
  }
  .quest__btn-active{
    transform: rotate(180deg);
   
  }
  .quest__btn-nact{
    transform: rotate(0deg);
  }

  .main__call-content:hover{
    background-color:#F59F60;
    color: white;
    transition: all 1000ms;
  }
  .about__link:hover{
    background-color:#9ACAEC;
    color: white;
    transition: all 1000ms;
  }

  .main__call-content{
    transition: all 1000ms;
  }
  .feedback__btn{
    cursor: pointer;
    transition: all 500ms;
  }
  .feedback__btn:hover{
    color: white;
    transition: all 1000ms;
  }


  .fixed__items{
    
z-index: 999;
    display: flex;
  padding-top:0px;
    text-align: center;

    bottom: 0;

    align-self: center;
  right: 0;
    justify-content: end;
    max-width: 1920px;
   margin:  0 auto;
  }
  .fixed__item{
 
        background-color: #F59F60;
        border-radius: 50%;
    width: 50px;
    text-align: center;

margin-right: 5px;
cursor: pointer;

    height: 50px;

  }
 
  .fixed{
      display: flex;
      display: inline-block;
      justify-content: center;

      z-index: 999;
      text-align: center;
        width: 100%;
      padding-top: 200px;   
      

      position: absolute;
  
  
   
  }

 
  .sticky {
  
    position: fixed;
    top: -100px;
    width: 100%;

  
 
  }

  .fixed__img{
   margin: auto auto;
   margin-top: 15px;
   vertical-align: bottom;
  }
 
  #button-up {
    display:none;
    left: 0;
    margin: 0;
    position: fixed;
    bottom: 50px;
    outline:none;
    width: 52px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    
    box-shadow: 0 2px 4px #999;
    -webkit-box-shadow: 0 2px 4px #999;
    -moz-box-shadow: 0 2px 4px #999;
    -o-box-shadow: 0 2px 4px #999;
    cursor:pointer;
}